.topPanel{
	width:90%;
	padding-left:5%;
	padding-top:5%;
	height: 80%;
	font-family: 'Arial';
}
.leftPanel {
	  float: left;
      width: 50%;
}
.rightPanel {
	float: right;
	width: 50%;
	margin: 25px auto;
	text-align: right;
}
.bottomPanel {
	position: relative;
	text-align: center;
	margin-top:15%;
	height: 300px;
	width: 100%;
}
.textSpan{
	font-size:larger;
}
.header{
	height:20%;
	padding-top:2px;
	background-color:#069FE1;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.05);
}
.myButton {
	width:20%;
	height:10%;
	background-color:#069FE1;
	border-radius:7px;
	border:2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
	text-transform: uppercase;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
.myButton:hover {
	background-color:#00ccee;
}
.myButton:active {
	position:relative;
	top:1px;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
.dropdown-list{
	position: relative;
    margin: 0 auto;
    padding: 5px 10px;
    
    /* Styles */
    //background-color: #D1E8F7;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease-out;
}
h1{
	color:#FFFFFF;
}
table {
	width:100%;
	font-family: 'Arial';
	margin: 25px auto;
	border-collapse: collapse;
	border: 1px solid #eee;
	border-bottom: 2px solid #069FE1;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
table tr:hover {
	background: #f4f4f4;
}
table tr:hover td {
	background: #f4f4f4;
}
table th, table td {
	color: #999;
	border: 1px solid #eee;
	padding: 12px 35px;
	border-collapse: collapse;
}
table th {
	background: #069FE1;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}
table th.last {
	border-right: none;
}
tbody tr:nth-child(odd) {
	background: #eee;
}
/*table tbody
 {
 overflow: auto;
 height: 100px;
 }*/
